[Unit]
Description = Virtual camera

[Service]
ExecStart=python3 -m virtcam
RestartSec=5
Restart=always
WorkingDirectory=%h/.config/virtcam
Environment=VIRTCAM_CONF=%h/.config/virtcam/config.json

[Install]
WantedBy=default.target